prod/index.html
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="img/icons/favicon.ico">
	<link rel="apple-touch-icon" href="img/icons/favicon.ico">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/preloader.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
</head>

<body>
	<div class="blue" id="page-preloader">
		<div class="preload-wrap">
			<div class="obj obj-1"></div>
			<div class="obj obj-2"></div>
			<div class="obj obj-3"></div>
			<div class="obj obj-4"></div>
		</div>
	</div>
	<header>
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand d-block d-lg-none" href="/">
					<img src="./img/icons/logo.png" alt="Anion logo">
				</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#header-navbar"><span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse row" id="header-navbar">
					<div class="navbar-top col-12">
						<div class="row">
							<div class="col-xl-auto col-lg-12 d-none d-lg-block">
								<a class="navbar-brand" href="/">
									<img src="./img/icons/logo.png" alt="Anion logo">
								</a>
							</div>
							<div class="col">
								<ul class="navbar-nav">
									<li class="nav-social"><a class="social-link" href="tel:+79991234567"><i class="mdi mdi-phone-in-talk"></i>+7 (999) 123-45-67</a>
									</li>
									<li class="nav-social">
										<div class="social-link"><i class="mdi mdi-map-marker-outline"></i>Нижний Новгород, ул. Пушкина, д.666</div>
									</li>
									<li class="nav-social">
										<div class="social-link"><i class="mdi mdi-clock"></i>пн-пт 9:00-18:00</div>
									</li>
								</ul>
							</div>
							<div class="col-auto"><a class="btn btn-lg blue-border" href="#" data-toggle="modal" data-target="#feedBackModal">НАПИСАТЬ НАМ</a>
								<div class="modal fade" id="feedBackModal" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-dialog-centered modal-lg">
										<div class="modal-content">
											<form>
												<div class="modal-header">
													<div class="col-12">
														<div class="modal-title">Написать нам</div>
													</div>
													<button class="close" type="button" data-dismiss="modal"><span>×</span>
													</button>
												</div>
												<div class="modal-body">
													<div class="container-fluid">
														<div class="row">
															<div class="col-md-5">
																<div class="form-group">
																	<label for="fioInputFeedBackModal">Ваше имя*:</label>
																	<input class="form-control" id="fioInputFeedBackModal" type="text" name="fio" placeholder="" required>
																</div>
																<div class="form-group">
																	<label for="companyInputFeedBackModal">Компания / организация (необязательно):</label>
																	<input class="form-control" id="companyInputFeedBackModal" type="text" name="company" placeholder="">
																</div>
																<div class="form-group">
																	<label for="telInputFeedBackModal">Телефон*:</label>
																	<input class="form-control" id="telInputFeedBackModal" type="tel" name="tel" placeholder="" required>
																</div>
																<div class="form-group">
																	<label for="emailInputFeedBackModal">Email*:</label>
																	<input class="form-control" id="emailInputFeedBackModal" type="email" name="email" placeholder="" required>
																</div>
															</div>
															<div class="col-md-7">
																<div class="form-group">
																	<label for="commentInputFeedBackModal">Сообщение:</label>
																	<textarea class="form-control" id="commentInputFeedBackModal" rows="8" name="comment" placeholder=""></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button class="btn blue" id="feedBackModalBtn" type="submit">Отправить</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="navbar-bottom col-12">
						<div class="row">
							<div class="col-auto search-block">
								<form class="form-inline header-form-search" id="header-search">
									<input class="form-control" type="text" placeholder="Поиск">
									<button class="lupa-search" type="submit"></button>
								</form>
							</div>
							<div class="col">
								<ul class="navbar-nav navbar-ul">
									<li class="nav-item active"><a class="nav-link" href="index.html">Главная</a>
									</li>
									<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Продукция</a>
										<div class="dropdown-menu multi-level"><a class="dropdown-item" href="product_list.html">Продукт 1</a><a class="dropdown-item" href="product_list.html">Продукт 2</a><a class="dropdown-item" href="product_list.html">Продукт 3</a>
											<div class="dropdown-submenu"><a class="dropdown-item" href="#">Подкатекория 1</a>
												<div class="dropdown-menu"><a class="dropdown-item" href="product_list.html">Продукт 1</a>
													<div class="dropdown-submenu"><a class="dropdown-item" href="#">Подкатекория 2</a>
														<div class="dropdown-menu"><a class="dropdown-item" href="product_list.html">Продукт 1</a><a class="dropdown-item" href="product_list.html">Продукт 2</a>
														</div>
													</div><a class="dropdown-item" href="product_list.html">Продукт 3</a>
												</div>
											</div>
										</div>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">Документы</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="catalog.html">Новости</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">О компании</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">Контакты</a>
									</li>
								</ul>
							</div>
							<div class="col-auto bucket"><a class="btn-shop nav-link" href="cart.html"><i class="mdi mdi-cart"></i>Корзина<span class="btn-shop-items">(0 товаров)</span></a>
							</div>
						</div>
					</div>
					<div class="navbar-location">
						<div class="header-location">
							<div class="location"><i class="mdi mdi-map-marker-outline"></i>
								<select class="selectpicker" data-header="Изменить наименование склада">
									<option>Москва</option>
									<option>Санкт-Петербург</option>
									<option>Нижний Новгород</option>
								</select>
							</div>
							<div class="loc-text">Текущий склад доставки:</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main class="page-index">
		<section class="slider-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="slider-wrap">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide" data-swiper-autoplay="1000">
										<div class="slide-pic">
											<div class="img-wrap">
												<img class="img" src="./img/pics/action.png">
											</div>
										</div>
										<div class="slide-text">
											<div class="slide-new"><span>Новинка</span>
											</div>
											<div class="slide-title dot-text">
												Заголовок для слайда Заголовок для слайда Заголовок для слайда Заголовок для слайда
											</div>
											<div class="slide-subtitle dot-long">
												Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок
											</div>
											<div class="slide-btn"><a class="btn blue" href="#">Заказать</a>
											</div>
										</div>
									</div>
									<div class="swiper-slide" data-swiper-autoplay="500">
										<div class="slide-pic">
											<div class="img-wrap">
												<img class="img" src="./img/pics/news_pict_1.png">
											</div>
										</div>
										<div class="slide-text">
											<div class="slide-new"><span>Новинка</span>
											</div>
											<div class="slide-title dot-text">
												Заголовок для слайда Заголовок для слайда Заголовок для слайда Заголовок для слайда
											</div>
											<div class="slide-subtitle dot-long">
												Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок
											</div>
											<div class="slide-btn"><a class="btn blue" href="#">Заказать</a>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="slide-pic">
											<div class="img-wrap">
												<img class="img" src="./img/pics/ico_2.png">
											</div>
										</div>
										<div class="slide-text">
											<div class="slide-new"><span>Новинка</span>
											</div>
											<div class="slide-title dot-text">
												Заголовок для слайда Заголовок для слайда Заголовок для слайда Заголовок для слайда
											</div>
											<div class="slide-subtitle dot-long">
												Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок
											</div>
											<div class="slide-btn"><a class="btn blue" href="#">Заказать</a>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="slide-pic">
											<div class="img-wrap">
												<img class="img" src="./img/pics/complect_3.png">
											</div>
										</div>
										<div class="slide-text">
											<div class="slide-new"><span>Новинка</span>
											</div>
											<div class="slide-title dot-text">
												Заголовок для слайда Заголовок для слайда Заголовок для слайда Заголовок для слайда
											</div>
											<div class="slide-subtitle dot-long">
												Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок Подзаголовок, длинный подзаголовок
											</div>
											<div class="slide-btn"><a class="btn blue" href="#">Заказать</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="discont-wrap">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide" data-swiper-autoplay="1000">
										<a class="disc-link" href="#"></a>
										<div class="disc-text">
											<div class="disc-title">Акция</div>
											<div class="disc-subtitle">С 20 мая по 30 июня 10% на емкости черного цвета</div>
										</div>
										<div class="disc-pic img-wrap">
											<img src="./img/pics/action.png">
										</div>
									</div>
									<div class="swiper-slide" data-swiper-autoplay="500">
										<a class="disc-link" href="#"></a>
										<div class="disc-text">
											<div class="disc-title">Акция</div>
											<div class="disc-subtitle">С 20 мая по 30 июня 10% на емкости черного цвета</div>
										</div>
										<div class="disc-pic img-wrap">
											<img src="./img/pics/action.png">
										</div>
									</div>
									<div class="swiper-slide" data-swiper-autoplay="3000">
										<a class="disc-link" href="#"></a>
										<div class="disc-text">
											<div class="disc-title">Акция</div>
											<div class="disc-subtitle">С 20 мая по 30 июня 10% на емкости черного цвета</div>
										</div>
										<div class="disc-pic img-wrap">
											<img src="./img/pics/action.png">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="product-block">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="block-title">Продукция</h1>
					</div>
					<div class="col-12">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="product-link" href="#"></a>
									<div class="product-icon img-wrap">
										<img src="./img/pics/ico_1.png">
									</div>
									<div class="product-text dot-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.</div>
									<div class="product-next">
										<div class="link-icon"><i class="mdi mdi-arrow-right"></i>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<a class="product-link" href="#"></a>
									<div class="product-icon img-wrap">
										<img src="./img/pics/ico_2.png">
									</div>
									<div class="product-text dot-text">Lorem ipsum dolor sit amet, consaliquam dicta distinctio doloribus.</div>
									<div class="product-next">
										<div class="link-icon"><i class="mdi mdi-arrow-right"></i>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<a class="product-link" href="#"></a>
									<div class="product-icon img-wrap">
										<img src="./img/pics/ico_3.png">
									</div>
									<div class="product-text dot-text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing
									</div>
									<div class="product-next">
										<div class="link-icon"><i class="mdi mdi-arrow-right"></i>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<a class="product-link" href="#"></a>
									<div class="product-icon img-wrap">
										<img src="./img/pics/ico_4.png">
									</div>
									<div class="product-text dot-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.</div>
									<div class="product-next">
										<div class="link-icon"><i class="mdi mdi-arrow-right"></i>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<a class="product-link" href="#"></a>
									<div class="product-icon img-wrap">
										<img src="./img/pics/action.png">
									</div>
									<div class="product-text dot-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.</div>
									<div class="product-next">
										<div class="link-icon"><i class="mdi mdi-arrow-right"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="about-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="long-wrap">
							<div class="block-title">О компании</div>
							<div class="info-wrap">
								<div class="info-text">С 1992 года на рынке</div>
								<div class="info-text">Собственное производство</div>
								<div class="info-text">Член международной ассоциации
									<br>производителей ARM
									<br>(Association of rotational molders)</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="about-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor, ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
						</div>
						<div class="about-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor, ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
						</div>
					</div>
					<div class="col-lg-4">
						<div class="about-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor, ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
						</div>
						<div class="about-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor, ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="cards-block">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="block-title-wrap">
							<h1 class="block-title">Новости</h1><a class="block-link nav-link" href="#">Все новости</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card-wrap">
							<a class="card-link" href="#"></a>
							<div class="card-pic img-wrap">
								<img src="./img/pics/bg_step.jpg">
							</div>
							<div class="card-text">
								<div class="card-date"><i class="mdi mdi-calendar-blank"></i>7/10/2017</div>
								<div class="card-desc dot-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card-wrap no-pic">
							<a class="card-link" href="#"></a>
							<div class="card-text">
								<div class="card-date"><i class="mdi mdi-calendar-blank"></i>7/10/2017</div>
								<div class="card-desc dot-long">
									Lorem ipsum dolor ctetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam Lorem ipsum dolor sit amet, consecteturquuntur ex fuga inventore ipsam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntunventore ipsam
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card-wrap">
							<a class="card-link" href="#"></a>
							<div class="card-pic img-wrap">
								<img src="./img/pics/ico_2.png">
							</div>
							<div class="card-text">
								<div class="card-date"><i class="mdi mdi-calendar-blank"></i>7/10/2017</div>
								<div class="card-desc dot-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-left-wrap">
						<a class="footer-logo" href="/">
							<img src="./img/icons/logo.png" alt="Anion logo">
						</a>
						<div class="footer-about-text">© ООО «Анион», пластиковые емкости, промышленная тара, листы, панели, стержни
							<br>из пластика, дорожные блоки, конусы, ограждения, садовая мебель. 1992—2017</div><a class="footer-nefabrika" href="http://nefabrika.ru">Сайт разработан в студии «Нефабрика»</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-7">
							<div class="nav-social"><a class="social-link" href="tel:+79991234567"><i class="mdi mdi-phone-in-talk"></i>+7 (999) 123-45-67</a>
							</div>
							<div class="nav-social">
								<div class="social-link"><i class="mdi mdi-map-marker-outline"></i>Нижний Новгород, ул. Пушкина, д.666</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="nav-social">
								<div class="social-link"><i class="mdi mdi-clock"></i>пн-пт 9:00-18:00</div>
							</div>
							<div class="nav-social"><a class="social-link" href="mailto:info@site.ru"><i class="mdi mdi-email-outline"></i>info@site.ru</a>
							</div>
						</div>
						<div class="col-12">
							<ul class="navbar-nav">
								<li class="nav-item active"><a class="nav-link" href="#">Главная</a>
								</li>
								<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Продукция</a>
									<div class="dropdown-menu multi-level"><a class="dropdown-item" href="product_list.html">Продукт 1</a><a class="dropdown-item" href="product_list.html">Продукт 2</a><a class="dropdown-item" href="product_list.html">Продукт 3</a>
										<div class="dropdown-submenu"><a class="dropdown-item">Подкатекория 1</a>
											<div class="dropdown-menu"><a class="dropdown-item" href="product_list.html">Продукт 1</a>
												<div class="dropdown-submenu"><a class="dropdown-item" href="#">Подкатекория 2</a>
													<div class="dropdown-menu"><a class="dropdown-item" href="product_list.html">Продукт 1</a><a class="dropdown-item" href="product_list.html">Продукт 2</a>
													</div>
												</div><a class="dropdown-item" href="product_list.html">Продукт 3</a>
											</div>
										</div>
									</div>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">Документы</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">Новости</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">О компании</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">Контакты</a>
								</li>
							</ul>
						</div>
						<div class="col-12">
							<div class="nav-other-wrap"><a class="nav-other" href="#">Правила обработки персональных данных</a>
								<br><a class="nav-other" href="#">Карта сайта</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>

src/pug/index.pug
extends partial/_layout

block content
  main.page-index
    section.slider-block
      .container
        .row
          .col-lg-8
            .slider-wrap
              .swiper-container
                .swiper-wrapper
                  .swiper-slide(data-swiper-autoplay="1000")
                    .slide-pic
                      .img-wrap
                        img.img(src="./img/pics/action.png")
                    .slide-text
                      .slide-new
                        span Новинка
                      .slide-title.dot-text
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                      .slide-subtitle.dot-long
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                      .slide-btn
                        a.btn.blue(href="#") Заказать
                  .swiper-slide(data-swiper-autoplay="500")
                    .slide-pic
                      .img-wrap
                        img.img(src="./img/pics/news_pict_1.png")
                    .slide-text
                      .slide-new
                        span Новинка
                      .slide-title.dot-text
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                      .slide-subtitle.dot-long
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                      .slide-btn
                        a.btn.blue(href="#") Заказать
                  .swiper-slide
                    .slide-pic
                      .img-wrap
                        img.img(src="./img/pics/ico_2.png")
                    .slide-text
                      .slide-new
                        span Новинка
                      .slide-title.dot-text
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                      .slide-subtitle.dot-long
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                      .slide-btn
                        a.btn.blue(href="#") Заказать
                  .swiper-slide
                    .slide-pic
                      .img-wrap
                        img.img(src="./img/pics/complect_3.png")
                    .slide-text
                      .slide-new
                        span Новинка
                      .slide-title.dot-text
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                      .slide-subtitle.dot-long
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                      .slide-btn
                        a.btn.blue(href="#") Заказать
                .swiper-pagination
          .col-lg-4
            .discont-wrap
              .swiper-container
                .swiper-wrapper
                  .swiper-slide(data-swiper-autoplay="1000")
                    a.disc-link(href="#")
                    .disc-text
                      .disc-title Акция
                      .disc-subtitle С 20 мая по 30 июня 10% на емкости черного цвета
                    .disc-pic.img-wrap
                      img(src="./img/pics/action.png")
                  .swiper-slide(data-swiper-autoplay="500")
                    a.disc-link(href="#")
                    .disc-text
                      .disc-title Акция
                      .disc-subtitle С 20 мая по 30 июня 10% на емкости черного цвета
                    .disc-pic.img-wrap
                      img(src="./img/pics/action.png")
                  .swiper-slide(data-swiper-autoplay="3000")
                    a.disc-link(href="#")
                    .disc-text
                      .disc-title Акция
                      .disc-subtitle С 20 мая по 30 июня 10% на емкости черного цвета
                    .disc-pic.img-wrap
                      img(src="./img/pics/action.png")

    section.product-block
      .container
        .row
          .col-12
            h1.block-title Продукция
          .col-12
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/ico_1.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/ico_2.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consaliquam dicta distinctio doloribus.
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/ico_3.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/ico_4.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/action.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right

    section.about-block
      .container
        .row
          .col-lg-4
            .long-wrap
              .block-title О компании
              .info-wrap
                .info-text
                  | С 1992 года на рынке
                .info-text
                  | Собственное производство
                .info-text
                  | Член международной ассоциации <br> производителей ARM
                  br
                  | (Association of rotational molders)
          .col-lg-4
            .about-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor,
              | ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
            .about-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor,
              | ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
          .col-lg-4
            .about-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor,
              | ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
            .about-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor,
              | ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?

    section.cards-block
      .container
        .row
          .col-12
            .block-title-wrap
              h1.block-title Новости
              a.block-link.nav-link(href="#") Все новости
          .col-lg-4
            .card-wrap
              a.card-link(href="#")
              .card-pic.img-wrap
                img(src="./img/pics/bg_step.jpg")
              .card-text
                .card-date
                  i.mdi.mdi-calendar-blank
                  | 7/10/2017
                .card-desc.dot-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
          .col-lg-4
            .card-wrap.no-pic
              a.card-link(href="#")
              .card-text
                .card-date
                  i.mdi.mdi-calendar-blank
                  | 7/10/2017
                .card-desc.dot-long
                  | Lorem ipsum dolor ctetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consecteturquuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntunventore ipsam
          .col-lg-4
            .card-wrap
              a.card-link(href="#")
              .card-pic.img-wrap
                img(src="./img/pics/ico_2.png")
              .card-text
                .card-date
                  i.mdi.mdi-calendar-blank
                  | 7/10/2017
                .card-desc.dot-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
