prod/product_list.html
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="img/icons/favicon.ico">
	<link rel="apple-touch-icon" href="img/icons/favicon.ico">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/preloader.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
</head>

<body>
	<div class="blue" id="page-preloader">
		<div class="preload-wrap">
			<div class="obj obj-1"></div>
			<div class="obj obj-2"></div>
			<div class="obj obj-3"></div>
			<div class="obj obj-4"></div>
		</div>
	</div>
	<header>
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand d-block d-lg-none" href="/">
					<img src="./img/icons/logo.png" alt="Anion logo">
				</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#header-navbar"><span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse row" id="header-navbar">
					<div class="navbar-top col-12">
						<div class="row">
							<div class="col-xl-auto col-lg-12 d-none d-lg-block">
								<a class="navbar-brand" href="/">
									<img src="./img/icons/logo.png" alt="Anion logo">
								</a>
							</div>
							<div class="col">
								<ul class="navbar-nav">
									<li class="nav-social"><a class="social-link" href="tel:+79991234567"><i class="mdi mdi-phone-in-talk"></i>+7 (999) 123-45-67</a>
									</li>
									<li class="nav-social">
										<div class="social-link"><i class="mdi mdi-map-marker-outline"></i>Нижний Новгород, ул. Пушкина, д.666</div>
									</li>
									<li class="nav-social">
										<div class="social-link"><i class="mdi mdi-clock"></i>пн-пт 9:00-18:00</div>
									</li>
								</ul>
							</div>
							<div class="col-auto"><a class="btn btn-lg blue-border" href="#" data-toggle="modal" data-target="#feedBackModal">НАПИСАТЬ НАМ</a>
								<div class="modal fade" id="feedBackModal" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-dialog-centered modal-lg">
										<div class="modal-content">
											<form>
												<div class="modal-header">
													<div class="col-12">
														<div class="modal-title">Написать нам</div>
													</div>
													<button class="close" type="button" data-dismiss="modal"><span>×</span>
													</button>
												</div>
												<div class="modal-body">
													<div class="container-fluid">
														<div class="row">
															<div class="col-md-5">
																<div class="form-group">
																	<label for="fioInputFeedBackModal">Ваше имя*:</label>
																	<input class="form-control" id="fioInputFeedBackModal" type="text" name="fio" placeholder="" required>
																</div>
																<div class="form-group">
																	<label for="companyInputFeedBackModal">Компания / организация (необязательно):</label>
																	<input class="form-control" id="companyInputFeedBackModal" type="text" name="company" placeholder="">
																</div>
																<div class="form-group">
																	<label for="telInputFeedBackModal">Телефон*:</label>
																	<input class="form-control" id="telInputFeedBackModal" type="tel" name="tel" placeholder="" required>
																</div>
																<div class="form-group">
																	<label for="emailInputFeedBackModal">Email*:</label>
																	<input class="form-control" id="emailInputFeedBackModal" type="email" name="email" placeholder="" required>
																</div>
															</div>
															<div class="col-md-7">
																<div class="form-group">
																	<label for="commentInputFeedBackModal">Сообщение:</label>
																	<textarea class="form-control" id="commentInputFeedBackModal" rows="8" name="comment" placeholder=""></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button class="btn blue" id="feedBackModalBtn" type="submit">Отправить</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="navbar-bottom col-12">
						<div class="row">
							<div class="col-auto search-block">
								<form class="form-inline header-form-search" id="header-search">
									<input class="form-control" type="text" placeholder="Поиск">
									<button class="lupa-search" type="submit"></button>
								</form>
							</div>
							<div class="col">
								<ul class="navbar-nav navbar-ul">
									<li class="nav-item active"><a class="nav-link" href="index.html">Главная</a>
									</li>
									<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Продукция</a>
										<div class="dropdown-menu multi-level"><a class="dropdown-item" href="product_list.html">Продукт 1</a><a class="dropdown-item" href="product_list.html">Продукт 2</a><a class="dropdown-item" href="product_list.html">Продукт 3</a>
											<div class="dropdown-submenu"><a class="dropdown-item" href="#">Подкатекория 1</a>
												<div class="dropdown-menu"><a class="dropdown-item" href="product_list.html">Продукт 1</a>
													<div class="dropdown-submenu"><a class="dropdown-item" href="#">Подкатекория 2</a>
														<div class="dropdown-menu"><a class="dropdown-item" href="product_list.html">Продукт 1</a><a class="dropdown-item" href="product_list.html">Продукт 2</a>
														</div>
													</div><a class="dropdown-item" href="product_list.html">Продукт 3</a>
												</div>
											</div>
										</div>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">Документы</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="catalog.html">Новости</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">О компании</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">Контакты</a>
									</li>
								</ul>
							</div>
							<div class="col-auto bucket"><a class="btn-shop nav-link" href="cart.html"><i class="mdi mdi-cart"></i>Корзина<span class="btn-shop-items">(0 товаров)</span></a>
							</div>
						</div>
					</div>
					<div class="navbar-location">
						<div class="header-location">
							<div class="location"><i class="mdi mdi-map-marker-outline"></i>
								<select class="selectpicker" data-header="Изменить наименование склада">
									<option>Москва</option>
									<option>Санкт-Петербург</option>
									<option>Нижний Новгород</option>
								</select>
							</div>
							<div class="loc-text">Текущий склад доставки:</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main class="page-product_list">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="breadcrumb-wrap">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a class="breadcrumb-link" href="#">Главная</a>
							</li>
							<li class="breadcrumb-item"><a class="breadcrumb-link" href="#">Продукция</a>
							</li>
							<li class="breadcrumb-item active">Детальная страница</li>
						</ol>
					</nav>
				</div>
				<div class="col-xl-3">
					<aside class="sidebar">
						<div class="btn-sidebar"></div>
						<div class="sidebar-inner">
							<div class="row">
								<div class="col-12">
									<nav class="side-links-wrap">
										<ul class="side-links">
											<li class="side-item active"><a class="side-link" href="#">Пластиковые, Пластиковые емкости, емкости, Пластиковые емкости</a>
											</li>
											<li class="side-item"><a class="side-link new-item" href="#">Пластиковые емкости, Пластиковые емкости</a>
											</li>
											<li class="side-item"><a class="side-link" href="#">Пластиковые емкости,  емкости, Пластиковые , Пластиковые емкости</a>
											</li>
											<li class="side-item"><a class="side-link" href="#">Пластиковые емкости</a>
											</li>
											<li class="side-item"><a class="side-link" href="#">Пластиковые емкости, Пластиковые емкости, Пластиковые емкости</a>
											</li>
											<li class="side-item"><a class="side-link" href="#"> емкости, Пластиковые емкости,  емкости, Пластиковые емкости</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<div class="col-xl-9">
					<section class="filters-block">
						<div class="row">
							<div class="col-12">
								<div class="block-title-wrap">
									<h1 class="block-title">Баки и емкости для воды и топлива</h1>
								</div>
							</div>
							<div class="col-12">
								<div class="filters-wrap">
									<form>
										<div class="row">
											<!-- От-До-->
											<div class="col-lg-4">
												<div class="row">
													<div class="col-12">
														<div class="filter-title">Объем, л</div>
													</div>
													<div class="col-md-6">
														<div class="input-group">
															<div class="input-group-prepend">
																<div class="input-group-text">От</div>
															</div>
															<input class="form-control" type="number" min="0" max="9999" step="1">
														</div>
													</div>
													<div class="col-md-6">
														<div class="input-group">
															<div class="input-group-prepend">
																<div class="input-group-text">До</div>
															</div>
															<input class="form-control" type="number" min="0" max="9999" step="1">
														</div>
													</div>
												</div>
											</div>
											<!-- Селект-->
											<div class="col-lg-4">
												<div class="row">
													<div class="col-12">
														<div class="filter-title">Тип эксплуатации</div>
													</div>
													<div class="col-12">
														<div class="form-group">
															<select class="selectpicker show-tick form-control" title="" data-size="5">
																<option selected disabled hidden value=""></option>
																<option>Критерий 1</option>
																<option>Критерий 2</option>
																<option>Критерий 3</option>
																<option>Критерий 4</option>
																<option>Критерий 5</option>
																<option>Критерий 6</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="row">
													<div class="col-12">
														<div class="filter-title">Объем, л</div>
													</div>
													<div class="col-md-6">
														<div class="input-group">
															<div class="input-group-prepend">
																<div class="input-group-text">От</div>
															</div>
															<input class="form-control" type="number" min="0" max="9999" step="1">
														</div>
													</div>
													<div class="col-md-6">
														<div class="input-group">
															<div class="input-group-prepend">
																<div class="input-group-text">До</div>
															</div>
															<input class="form-control" type="number" min="0" max="9999" step="1">
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="row">
													<div class="col-12">
														<div class="filter-title">Тип эксплуатации</div>
													</div>
													<div class="col-12">
														<div class="form-group">
															<select class="selectpicker show-tick form-control" title="" data-size="5">
																<option selected disabled hidden value=""></option>
																<option>Критерий 1</option>
																<option>Критерий 2</option>
																<option>Критерий 3</option>
																<option>Критерий 4</option>
																<option>Критерий 5</option>
																<option>Критерий 6</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-12">
								<div class="filters-submit">
									<div class="hide-btn">Свернуть фильтры</div><a class="btn blue submit-btn" href="#">Применить фильтры</a>
								</div>
							</div>
						</div>
					</section>
					<section class="cards-block">
						<div class="row">
							<div class="col-lg-4">
								<div class="card-wrap">
									<a class="card-link" href="product_card.html"></a>
									<div class="card-pic img-wrap">
										<img src="./img/pics/bg_step.jpg">
									</div>
									<div class="card-text">
										<div class="card-id">T12343212</div>
										<div class="card-title dot-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit
										</div>
										<div class="card-price">203</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card-wrap no-pic">
									<a class="card-link" href="product_card.html"></a>
									<div class="card-text">
										<div class="card-id">T12343212</div>
										<div class="card-title dot-long">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
										<div class="card-price">99 999</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card-wrap">
									<a class="card-link" href="product_card.html"></a>
									<div class="card-pic img-wrap">
										<img src="./img/pics/bg_step.jpg">
									</div>
									<div class="card-text">
										<div class="card-id">T12343212</div>
										<div class="card-title dot-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit
										</div>
										<div class="card-price">203</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card-wrap">
									<a class="card-link" href="product_card.html"></a>
									<div class="card-pic img-wrap">
										<img src="./img/pics/bg_step.jpg">
									</div>
									<div class="card-text">
										<div class="card-id">T12343212</div>
										<div class="card-title dot-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit
										</div>
										<div class="card-price">203</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card-wrap">
									<a class="card-link" href="product_card.html"></a>
									<div class="card-pic img-wrap">
										<img src="./img/pics/bg_step.jpg">
									</div>
									<div class="card-text">
										<div class="card-id">T12343212</div>
										<div class="card-title dot-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit
										</div>
										<div class="card-price">203</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<nav class="pagination-wrap">
									<ul class="pagination">
										<li class="page-item disabled"><a class="page-link" href="#"><i class="mdi mdi-chevron-double-left"></i></a>
										</li>
										<li class="page-item disabled"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a>
										</li>
										<li class="page-item"><a class="page-link" href="#">1</a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">2</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">3</a>
										</li>
										<li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a>
										</li>
										<li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-double-right"></i></a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-left-wrap">
						<a class="footer-logo" href="/">
							<img src="./img/icons/logo.png" alt="Anion logo">
						</a>
						<div class="footer-about-text">© ООО «Анион», пластиковые емкости, промышленная тара, листы, панели, стержни
							<br>из пластика, дорожные блоки, конусы, ограждения, садовая мебель. 1992—2017</div><a class="footer-nefabrika" href="http://nefabrika.ru">Сайт разработан в студии «Нефабрика»</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-7">
							<div class="nav-social"><a class="social-link" href="tel:+79991234567"><i class="mdi mdi-phone-in-talk"></i>+7 (999) 123-45-67</a>
							</div>
							<div class="nav-social">
								<div class="social-link"><i class="mdi mdi-map-marker-outline"></i>Нижний Новгород, ул. Пушкина, д.666</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="nav-social">
								<div class="social-link"><i class="mdi mdi-clock"></i>пн-пт 9:00-18:00</div>
							</div>
							<div class="nav-social"><a class="social-link" href="mailto:info@site.ru"><i class="mdi mdi-email-outline"></i>info@site.ru</a>
							</div>
						</div>
						<div class="col-12">
							<ul class="navbar-nav">
								<li class="nav-item active"><a class="nav-link" href="#">Главная</a>
								</li>
								<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Продукция</a>
									<div class="dropdown-menu multi-level"><a class="dropdown-item" href="product_list.html">Продукт 1</a><a class="dropdown-item" href="product_list.html">Продукт 2</a><a class="dropdown-item" href="product_list.html">Продукт 3</a>
										<div class="dropdown-submenu"><a class="dropdown-item">Подкатекория 1</a>
											<div class="dropdown-menu"><a class="dropdown-item" href="product_list.html">Продукт 1</a>
												<div class="dropdown-submenu"><a class="dropdown-item" href="#">Подкатекория 2</a>
													<div class="dropdown-menu"><a class="dropdown-item" href="product_list.html">Продукт 1</a><a class="dropdown-item" href="product_list.html">Продукт 2</a>
													</div>
												</div><a class="dropdown-item" href="product_list.html">Продукт 3</a>
											</div>
										</div>
									</div>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">Документы</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">Новости</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">О компании</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">Контакты</a>
								</li>
							</ul>
						</div>
						<div class="col-12">
							<div class="nav-other-wrap"><a class="nav-other" href="#">Правила обработки персональных данных</a>
								<br><a class="nav-other" href="#">Карта сайта</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>

src/pug/product_list.pug
extends partial/_layout

block content
  main.page-product_list
    .container
      .row
        .col-12
          nav.breadcrumb-wrap
            ol.breadcrumb
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Главная
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Продукция
              li.breadcrumb-item.active Детальная страница
        .col-xl-3
          include partial/_asideShort
        .col-xl-9
          section.filters-block
            .row
              .col-12
                .block-title-wrap
                  h1.block-title Баки и емкости для воды и топлива
              .col-12
                .filters-wrap
                  form
                    .row
                      // От-До
                      .col-lg-4
                        .row
                          .col-12
                            .filter-title Объем, л
                          .col-md-6
                            .input-group
                              .input-group-prepend
                                .input-group-text От
                              input.form-control(type="number", min="0", max="9999", step="1")
                          .col-md-6
                            .input-group
                              .input-group-prepend
                                .input-group-text До
                              input.form-control(type="number", min="0", max="9999", step="1")
                      // Селект
                      .col-lg-4
                        .row
                          .col-12
                            .filter-title Тип эксплуатации
                          .col-12
                            .form-group
                              select.selectpicker.show-tick.form-control(title='', data-size="5")
                                option(selected disabled hidden value="")
                                option Критерий 1
                                option Критерий 2
                                option Критерий 3
                                option Критерий 4
                                option Критерий 5
                                option Критерий 6
                      .col-lg-4
                        .row
                          .col-12
                            .filter-title Объем, л
                          .col-md-6
                            .input-group
                              .input-group-prepend
                                .input-group-text От
                              input.form-control(type="number", min="0", max="9999", step="1")
                          .col-md-6
                            .input-group
                              .input-group-prepend
                                .input-group-text До
                              input.form-control(type="number", min="0", max="9999", step="1")
                      .col-lg-4
                        .row
                          .col-12
                            .filter-title Тип эксплуатации
                          .col-12
                            .form-group
                              select.selectpicker.show-tick.form-control(title='', data-size="5")
                                option(selected disabled hidden value="")
                                option Критерий 1
                                option Критерий 2
                                option Критерий 3
                                option Критерий 4
                                option Критерий 5
                                option Критерий 6
              .col-12
                .filters-submit
                  .hide-btn Свернуть фильтры
                  a.btn.blue.submit-btn(href="#") Применить фильтры

          section.cards-block
            .row
              .col-lg-4
                .card-wrap
                  a.card-link(href="product_card.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 203
              .col-lg-4
                .card-wrap.no-pic
                  a.card-link(href="product_card.html")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-long
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 99 999
              .col-lg-4
                .card-wrap
                  a.card-link(href="product_card.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 203
              .col-lg-4
                .card-wrap
                  a.card-link(href="product_card.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 203
              .col-lg-4
                .card-wrap
                  a.card-link(href="product_card.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 203

              .col-12
                nav.pagination-wrap
                  ul.pagination
                    li.page-item.disabled
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-double-left
                    li.page-item.disabled
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-left
                    li.page-item
                      a.page-link(href='#') 1
                    li.page-item.active
                      a.page-link(href='#') 2
                    li.page-item
                      a.page-link(href='#') 3
                    li.page-item
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-right
                    li.page-item
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-double-right
